<a href="https://colab.research.google.com/github/edcalderin/Music_Genre_Classification/blob/master/2_Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Music Genre Classification. Data Cleaning

## Importing modules

In [ ]:
!pip install boto3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting boto3
  Downloading boto3-1.24.51-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 7.1 MB/s
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.0-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 8.8 MB/s
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting botocore<1.28.0,>=1.27.51
  Downloading botocore-1.27.51-py3-none-any.whl (9.0 MB)
     |████████████████████████████████| 9.0 MB 51.9 MB/s
Collecting urllib3<1.27,>=1.25.4
  Downloading urllib3-1.26.11-py2.py3-none-any.whl (139 kB)
     |████████████████████████████████| 139 kB 55.7 MB/s
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.28.0,>=1.27.51->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.28.0,>=1.27.51->boto3) (1.15.0)
Installing collected packages: urllib3, jmespath, botocore, s3transfer, boto3
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.11 which is incompatible.
Successfully installed boto3-1.24.51 botocore-1.27.51 jmespath-1.0.1 s3transfer-0.6.0 urllib3-1.26.11

In [ ]:
import pandas as pd
import numpy as np
import boto3
import yaml
import joblib
from io import BytesIO

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

## Loading data from S3 Bucket

### Reading credentials

In [ ]:
PATH = '/gdrive/MyDrive/Preparacion_Audio_Data_Mining/Tests/Genre_classification/'

with open(PATH+'credentials.yaml', 'r') as file:
    credentials = yaml.load(file)

credentials

{'S3': {'BUCKET_NAME': 'music-genre-classification',
  'aws_access_key_id': 'ASIAY7ARDQRZJZJCGFXC',
  'aws_secret_access_key': '3bBfb6r+97D+HVt7ib7g8pzmXi/QVxpytTYylY0v',
  'aws_session_token': 'FwoGZXIvYXdzEDkaDJTCbEPsnwuU4VymJyLJAepxnCiopXyi19EkQ5Khs7xkvDhVolDVrVuyl5/kjT3FjSQcKqsTN7NWBU+qMeX7O6hW/Tq51ZtEV9X3SSGbsm6BSkvIhgOu2lS0J9ztO/LEDs0ijkziNInUOwA5w/Y7BqOVGC3GNK68a5Vx3/VTuuDhwMGzDN83tAc07XPidqaHDXNAXlqb507gQQi+9NibeGzwrNl1Q46ij7dPYImvQP/lCC0UzpZSgFEKSe5cc2C9HEmULdxP7gu5jNJu3kqj06UQRcECI/ZX4SjMh9+XBjItCoRCE6whtmSIecEr5Upkk/5cZbUoeBWGTnbstuNyJaNWXJGZqpXU1EBXIweB'},
 'SEED': 200}

## Functions

### Get S3 Object

In [ ]:
def get_s3_object():
    s3_credentials = credentials['S3']
    
    session = boto3.Session(
        aws_access_key_id = s3_credentials['aws_access_key_id'],
        aws_secret_access_key = s3_credentials['aws_secret_access_key'],
        aws_session_token = s3_credentials['aws_session_token']
    )
        
    resource = session.resource('s3')
    
    return resource.Bucket(s3_credentials['BUCKET_NAME'])

### Get Data from S3

In [ ]:
def get_data_from_s3(key):

    s3_object = get_s3_object()

    with BytesIO() as data:
        s3_object.download_fileobj(key, data)
        data.seek(0)
        df = joblib.load(data)
    
    return df

### Upload to S3

In [ ]:
def upload_to_s3(dataframe, key):
    # Convert into a joblib file
    data_bytes = BytesIO()
    joblib.dump(dataframe, data_bytes, compress=('gzip', 3))
    data_bytes.seek(0)

    # Upload to S3
    s3_object = get_s3_object()
    s3_object.upload_fileobj(data_bytes, key)

## Numerical features genre

In [ ]:
numerical_features_genre = get_data_from_s3('intake/numerical_features_genre.jlb')
numerical_features_genre.head()

,files,label,mfcc_0,mfcc_1,mfcc_10,mfcc_11,mfcc_12,mfcc_2,mfcc_3,mfcc_4,mfcc_5,mfcc_6,mfcc_7,mfcc_8,mfcc_9,spectral_centroid,spectral_rolloff,zero_crossing_rate
0,./genres_data/blues/blues.00082.wav,blues,-29.326496,108.646187,-12.076519,5.475782,-7.672954,-25.548882,38.452442,-18.309029,21.787041,-25.132904,22.377872,-17.582579,14.664047,2141.518182,4628.622798,0.105125
1,./genres_data/blues/blues.00056.wav,blues,-145.280975,102.806641,-6.934700,7.458768,-10.468451,-12.529431,57.005886,2.262869,26.585436,-4.288538,17.328524,-7.993435,15.229498,1811.771254,3928.818677,0.075503
2,./genres_data/blues/blues.00004.wav,blues,-160.337708,126.219635,-13.088418,-2.813867,-6.933385,-35.587811,22.148071,-32.478603,10.852294,-23.352331,0.498433,-11.793437,1.207255,1835.004266,3579.757627,0.101461
3,./genres_data/blues/blues.00075.wav,blues,-86.477364,92.698875,-7.043209,12.178524,-6.086116,-15.325850,54.053925,0.895361,31.571152,-14.603640,23.317848,-14.964167,15.332833,2224.110737,4700.233605,0.108509
4,./genres_data/blues/blues.00025.wav,blues,-249.284561,131.004684,-0.981921,-3.575790,-2.926955,0.671435,66.703934,17.914803,4.621686,6.613105,1.242521,1.412567,-1.589808,1109.352784,2243.341758,0.051697

In [ ]:
numerical_features_genre.files = numerical_features_genre\
                                    .files\
                                    .str\
                                    .split('/', expand=True)[3]

In [ ]:
numerical_features_genre.files.head()

0    blues.00082.wav
1    blues.00056.wav
2    blues.00004.wav
3    blues.00075.wav
4    blues.00025.wav
Name: files, dtype: object

In [ ]:
mapping = list(enumerate(set(numerical_features_genre.label)))
mapping = {item[1]:item[0] for item in mapping}
mapping

{'blues': 9,
 'classical': 7,
 'country': 0,
 'disco': 5,
 'hiphop': 1,
 'jazz': 4,
 'metal': 2,
 'pop': 6,
 'reggae': 8,
 'rock': 3}

In [ ]:
numerical_features_genre['y'] = numerical_features_genre['label'].replace(mapping)
numerical_features_genre['y']

0      9
1      9
2      9
3      9
4      9
      ..
994    8
995    8
996    8
997    8
998    8
Name: y, Length: 999, dtype: int64

In [ ]:
upload_to_s3(numerical_features_genre, 'cleaning/numerical_features_genre_cleaned.joblib')

## Mel Spectogram

In [ ]:
spectogram_df = get_data_from_s3('intake/spectogram_df.jlb')
spectogram_df.head()

,0,1,2,3,4,5,6,7,8,9,...,84471,84472,84473,84474,84475,84476,84477,84478,84479,0
0,-21.402746,-38.165558,-37.311871,-43.343613,-41.584480,-22.048811,-22.194168,-33.978336,-45.242214,-47.785229,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,blues
1,-25.412632,-46.802307,-46.468849,-48.783173,-49.167614,-48.149017,-49.149731,-49.175491,-36.647186,-31.204166,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,blues
2,-52.681557,-53.033882,-52.625343,-54.882698,-45.236115,-44.029240,-50.053173,-53.218079,-59.152702,-54.893375,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,blues
3,-9.982767,-12.328079,-17.607121,-20.429033,-22.212532,-23.181784,-21.333763,-26.758064,-28.120350,-30.442926,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,blues
4,-33.268120,-25.952469,-26.765806,-34.650810,-31.176003,-34.328274,-30.258345,-32.307419,-28.305138,-32.591808,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,blues

In [ ]:
X = spectogram_df.iloc[:, :-1]
y = spectogram_df.iloc[:,-1]

In [ ]:
spectogram_df = pd.concat((X, pd.DataFrame({'label': y})), axis=1)
spectogram_df.head()

,0,1,2,3,4,5,6,7,8,9,...,84471,84472,84473,84474,84475,84476,84477,84478,84479,label
0,-21.402746,-38.165558,-37.311871,-43.343613,-41.584480,-22.048811,-22.194168,-33.978336,-45.242214,-47.785229,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,blues
1,-25.412632,-46.802307,-46.468849,-48.783173,-49.167614,-48.149017,-49.149731,-49.175491,-36.647186,-31.204166,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,blues
2,-52.681557,-53.033882,-52.625343,-54.882698,-45.236115,-44.029240,-50.053173,-53.218079,-59.152702,-54.893375,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,blues
3,-9.982767,-12.328079,-17.607121,-20.429033,-22.212532,-23.181784,-21.333763,-26.758064,-28.120350,-30.442926,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,blues
4,-33.268120,-25.952469,-26.765806,-34.650810,-31.176003,-34.328274,-30.258345,-32.307419,-28.305138,-32.591808,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,blues

In [ ]:
spectogram_df['y'] = spectogram_df.label.replace(mapping)
spectogram_df['y']

0      9
1      9
2      9
3      9
4      9
      ..
994    8
995    8
996    8
997    8
998    8
Name: y, Length: 999, dtype: int64

In [ ]:
upload_to_s3(spectogram_df, 'cleaning/genre_mel_spec_cleaned.joblib')